---
import Layout from "../layouts/Layout.astro";
import ArticlePreview from "../components/ArticlePreview.astro"; 

const PAGE_SIZE = 12;
const API_BASE = "http://localhost:8080";

const res = await fetch(`${API_BASE}/article?size=${PAGE_SIZE}&page=0`);
const data = await res.json();
const articles = data.articleSummaryList;
---

<Layout title="Hikmet Cakir Blog">  
  <div id="articles-grid" class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-[15%] py-10 items-stretch" data-api-base={API_BASE} data-page-size={PAGE_SIZE}>
    { articles.map((article) => <ArticlePreview article={article} key={article.id} />) }
  </div>
  <div id="scroll-sentinel" class="h-8"></div>
  <div id="loader" class="hidden fixed left-1/2 -translate-x-1/2 bottom-4 z-50 transform">
    <div class="animate-spin h-8 w-8 border-2 border-gray-300 border-t-black rounded-full"></div>
  </div>
  <div id="retry" class="flex justify-center py-4 hidden">
    <button class="px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white">Tekrar Dene</button>
  </div>

  <script>
      import { initInfiniteScroll } from '../scripts/articles.js';
      initInfiniteScroll();
  </script>
</Layout>
